/* GENERAL */
body{
    margin: 0;
}

a{
    color: #000000;
}
a:visited{
    color: #000000;
}
a:hover{
    color: #FFFFFF;
    text-decoration: underline;
}




/* HEADER */

header{
    background-color: chocolate;
    padding: 1px 0;
}

header nav{
    text-align: right;
    padding-right: 10px;
}

header nav ul li{
    display: inline;
    padding: 0 5px;
}


header nav ul li a{
    text-decoration: none;
}


/* MAIN */

main{
    margin: 0;
    padding: 20px;
}



/* SUCURSALES */

.sucursales td{
    padding: 0 15px;
}


/* CONTACTO */

#formContacto div{
    margin-bottom: 10px;
}

#formContacto div input,
#formContacto div textarea{
    max-width: 300px;
    width: 100%;
}

#formContacto div textarea{
    resize: none;
}


/* FOOTER */

footer{
    padding: 5px 0;
    background-color: aqua;
    min-height: 50px;
    width: 100%;
    text-align: center;
}

footer nav{
    text-align: center  ;
    padding-right: 10px;
}

footer nav ul li{
    display: inline;
    padding: 0 5px;
}

footer nav ul li a{
    text-decoration: none;
}

footer nav ul li a img{
    max-width: 40px;
}